.world-cell{
  width: 30px;
  height: 30px;
}

.even-cell {
  background-color: white;
}

.odd-cell {
  background-color: black;
}

#world-wrapper {
  width: 100%;
}

.world {
  /* margin: 0 auto; */
  margin-top: 50px;
  margin-left: 50px;
}
