.world-cell{
  width: 30px;
  height: 30px;
}

.even-cell {
  background-color: white;
}

.odd-cell {
  background-color: black;
}

#world-wrapper {
  display:flex;
  justify-content:center;
  align-items:center;
}

.world {
  margin-top: 50px;
}

.control-button {
  width: 100px;
}